*.DS_Store
/NormingPerformersAlarmClock/nbproject/private/
/NormingPerformersAlarmClock/build/
/NormingPerformersAlarmClock/dist/
/JavaFX/NormingPerformersAlarmClock/build/
/JavaFX/NormingPerformersAlarmClock/dist/